#{extends 'main.html' /}
#{set title:profile+"'s Profile" /}

*{********* Title ********* }*

<h1 style="color:#f5c2cc;"> ${profile} </h1>

#{if posts.size() > 1}
<h3>There are ${posts.size()} posts made by '${profile}'</h3>
#{/if}
#{elseif posts}
<h3>There is 1 post made by '${profile}'</h3>
#{/elseif}
#{else}
<h3>No posts made by '${profile}'</h3>
#{/else}

*{********* Posts list *********}*

<div class="older-posts">
#{list items:posts, as:'post'}
  #{display post:post, as:'teaser' /}
  #{/list}
</div>
