#{extends 'main.html' /}
#{set title:profile+"'s Profile" /}

<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
</html>

*{********* Title ********* }*

<style>
    hr {
        height: 1px;
        background-color: #f5c2cc;
        border: none;
    }

    h1 {
        font-family: Bernard;
    }
</style>

<font size="+3">
    <h1 style="color:#f5c2cc;"> ${profile}'s Profile </h1>
    <hr>
</font>

<!-- Posts section -->
#{if posts.size() > 1}
<h3>${posts.size()} posts</h3>
#{/if}
#{elseif posts}
<h3>There is 1 post made by '${profile}'</h3>
#{/elseif}
#{else}
<h3>No posts made by '${profile}'</h3>
#{/else}

*{********* Posts list *********}*

<div class="older-posts">
#{list items:posts, as:'post'}
  #{display post:post, as:'teaser' /}
  #{/list}
</div>
<hr>

<!-- Comments section -->
#{if comments.size() > 1}
<h3>${comments.size()} comments</h3>
#{/if}
#{elseif comments}
<h3>There is 1 comment made by '${profile}'</h3>
#{/elseif}
#{else}
<h3>No comments made by '${profile}'</h3>
#{/else}

*{********* Comments list *********}*

<div class="older-posts">
#{list items:comments, as:'comment'}
  #{display post:comment, as:'teaser' /}
  #{/list}
</div>
<hr>
